In [3]:
import pandas as pd

btc = pd.read_csv('data/model/btc_model_price.csv')
btc

,Unnamed: 0,Date,Price,Open,High,Low,Volume,pct_change,Tomorrow,Gold_Price,...,VIX_Low,VIX_pct_change,MA_td,3MA_td,%K_td,%D_td,RSI_td,Momentum_td,MACD_td,CCI_td
0,0,2024-06-08,69349.9,69347.0,69572.1,69222.4,56450.0,0.0000,0,NaN,...,NaN,NaN,0,0,0,0,0,0,0,0
1,1,2024-06-07,69347.9,70793.4,71956.5,68620.7,82620.0,-0.0204,1,2325.0,...,12.11,-0.0286,0,0,0,0,0,0,0,0
2,2,2024-06-06,70791.5,71083.6,71616.1,70178.7,49790.0,-0.0041,0,2390.9,...,12.54,-0.0040,0,0,0,0,0,0,1,0
3,3,2024-06-05,71083.7,70550.9,71744.4,70397.1,67060.0,0.0076,0,2375.5,...,12.60,-0.0403,0,0,0,0,0,0,1,0
4,4,2024-06-04,70549.2,68808.0,71034.2,68564.3,75690.0,0.0253,1,2347.4,...,13.11,0.0038,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
885,885,2022-01-05,43425.9,45833.1,47019.4,42535.1,83740.0,-0.0526,0,1825.1,...,16.58,0.1668,1,1,0,1,0,1,1,-1
886,886,2022-01-04,45837.3,46435.7,47505.4,45602.1,55590.0,-0.0128,0,1814.6,...,16.34,0.0187,1,1,1,1,0,1,1,-1
887,887,2022-01-03,46430.2,47293.9,47556.0,45704.0,41060.0,-0.0186,0,1800.1,...,16.56,-0.0360,1,1,1,1,-1,1,1,-1
888,888,2022-01-02,47311.8,47738.7,47944.9,46718.2,27020.0,-0.0089,0,NaN,...,NaN,NaN,1,1,1,1,-1,1,1,-1
889,889,2022-01-01,47738.0,46217.5,47917.6,46217.5,31240.0,0.0329,0,NaN,...,NaN,NaN,1,1,1,1,-1,1,1,-1